@model ToDoModel

<h2>Create task</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Add" method="post" >
    <div class="mb-3">
        <label asp-for="description" class="form-label">Description:</label>
        <input asp-for="description" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="categoryId" class="form-label">Category:</label>
        <select asp-for="categoryId" class="form-select" 
        asp-items="@(new SelectList(ViewBag.Categories,"categoryId", "categoryName"))">
            <option value=""></option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="dueDate" class="form-label">Due date:</label>
        <input asp-for="dueDate" class="form-control" type="text" />
    </div>
    <div class="mb-3">
        <label asp-for="statusId" class="form-label">Status:</label>
        <select asp-for="statusId" class="form-select"
        asp-items="@(new SelectList(ViewBag.Statuses,"statusId", "statusName"))">
        </select>
    </div>
    <button type="submit" class="btn btn-outline-dark">Add</button>
    <a asp-action="Index" class="btn btn-outline-dark">Return</a>
</form>